@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body { 
    font-family: "Catamaran";

}

.divtopo {
    background-image: url("images/azul.svg");
    background-position: top top;
    background-repeat: no-repeat;
    padding:45px;
    background-size: 100%;

}

.divtopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.divtopo .logos {
    margin-left: 100px;
    padding: 10px;
    width: 80px;
    height: 60px;
    align-items: center;
    margin-top: -30px;
}

.divtopo .logo-miau {
    margin-left: -570px;
    padding: 10px;
    width: 100px;
    height: 90px;
    align-items: left;
    margin-top: 16px;
}

.divtopo a {
    float: right;
    margin-right: 80px;
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-top: -40px;
    padding-bottom: 50px;
}

.box {
    margin-top: -100px;
    margin-bottom: -200px;
}
.box nav {
    padding:-100px;
    display: flex;
    flex: row;
    justify-content: center; 
    align-items: center;
    font-family: "Amatic SC"

    }


.col img {
    height: 120px;
    padding: 25px;
}

.col p {
    padding-right: 25px;
    padding-left: 25px;
} 
.texto {
 margin-top: 100px;
 background-image: url("images/amarelo.svg");
 background-position: center center;
 background-repeat: no-repeat;
 padding: 200px;
}


.telas {
    font-size: 40;
}
.telas .par1 {
    margin-top: 100px;
    margin-bottom: 50px;
}
.telas p {
    font-family: "Amatic SC";
    font-size: 25px;
    color: #6F93C0;
    margin-top: 50px;
    
}

.rodape1 {
    margin-top: 100px;
    margin-bottom: 30px;
}


.rodape {
    background-image: url("images/azul2.svg");
    background-position: bottom bottom;
    background-repeat: no-repeat;
    padding: 100px 0px 50px  ;
    background-size: cover;


}
.rodape p {
   font-size: 30px;
   font-family: "Fredoka One";
   color: white;
  
}

